.filters {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003366;
  }
  
  app-table {
    margin-top: 20px;
  }
  
  .forward-btn-container {
    margin-top: 10px;
    display: flex;
    margin-left: 20px;
}

.filter-wrapper {
  background-color: white;
  margin-top: -10px;
}