<h2 class="title mt-0">Applied Candidates</h2>
<div class="filter-wrapper">
    <div class="filter-container" style="padding-top: 5px;">
        <button *ngFor="let filter of filters" class="filter-btn" [class.active]="filter.active"
            (click)="applyFilter(filter)" >
            {{ filter.label }}
        </button>
    </div>
</div>

<div *ngIf="checkedCandidates.length > 0" class="forward-btn-container">
    <button class="btn" (click)="forwardCandidates()">Forward Selected Candidates</button>
</div>

<!-- Candidates Table -->
<div [ngStyle]="{'margin-top': checkedCandidates.length > 0 ? '-50px' : '0px'}">
    <app-table [columns]="tableColumns" [data]="appliedCandidates" [paginationConfig]="paginationConfig"
        (onPageChange)="updatePage($event)" (onItemsPerPageChange)="updateItemsPerPage($event)"
        (onScheduleInterviewAction)="onScheduleInterviewAction($event)"
        (viewDetails)="viewDetails($event)" (shortListAction)="shortListAction($event)"
        (rejectAction)="rejectAction($event)" (onCheckBoxAction)="onCheckBoxAction($event)">
    </app-table>
</div>