.filters {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003366;
  }
  
  app-table {
    margin-top: 20px;
  }
  