.filters {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  app-table {
    margin-top: 20px;
  }
  
  .forward-btn-container {
    display: flex;
    justify-content: center;
}

.filter-wrapper {
  // background-color: white;
  margin-top: -10px;
  margin-bottom: 10px;
}