<app-home-banner></app-home-banner>
<div>
    <app-search-bar (customEvent)="navigateSearch($event)"></app-search-bar>
</div>
<mat-tab-group animationDuration="300ms">
    <mat-tab label="Jobs For You">
            <div class="job-listing-container">
            <div class="left-container">
                <app-jobs-list-card (selectedCard)="recieveJobData($event)"></app-jobs-list-card>
            </div>
            <div class="right-container" *ngIf="jobData">
                <app-job-details [from]="'candidate-dashboard'" [selectJob]="jobData"></app-job-details>
            </div>
        </div>
        </mat-tab>
        <mat-tab label="Recent Searches" >
           <app-recent-job-search></app-recent-job-search>
        </mat-tab>
    </mat-tab-group>
