<div class="login-wrapper">
  <div class="login-container">
    <h2 class="login-title">
      {{ showResetForm ? 'Forgot Password' : 'Login' }}
    </h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ng-container *ngIf="!showResetForm">
        <ng-container *ngIf="!isOtpLogin; else otpLogin">
          <!-- Email -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email ID / Username</mat-label>
            <input matInput formControlName="email" placeholder="Enter Email ID / Username" autocomplete="off" />
            <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
              Email ID/Username cannot be left blank
            </mat-error>
          </mat-form-field>

          <!-- Password -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
              placeholder="Enter Password" autocomplete="off" />
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
              Password cannot be left blank
            </mat-error>
          </mat-form-field>

          <!-- Forgot Password -->
          <div class="forgot-password">
            <a (click)="showResetForm = !showResetForm">Forgot Password?</a>
          </div>
        </ng-container>

        <ng-template #otpLogin>
          <!-- Mobile Number -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mobile Number</mat-label>
            <input matInput formControlName="mobileNumber" placeholder="Enter Mobile Number" autocomplete="off" />
            <mat-error *ngIf="loginForm.get('mobileNumber')?.touched && loginForm.get('mobileNumber')?.invalid">
              Valid Mobile Number is required
            </mat-error>
          </mat-form-field>

          <!-- Send OTP Button -->
          <div class="send-otp">
            <button type="button" class="otp-btn" (click)="sendOtp()"
              [disabled]="loginForm.get('mobileNumber')?.invalid">
              {{ isOtpSent ? 'Resend OTP' : 'Send OTP' }}
            </button>
          </div>

          <!-- OTP Field -->
          <mat-form-field *ngIf="isOtpSent" appearance="outline" class="full-width">
            <mat-label>Enter OTP</mat-label>
            <input matInput formControlName="otp" placeholder="Enter OTP" autocomplete="off" />
            <mat-error *ngIf="loginForm.get('otp')?.touched && loginForm.get('otp')?.invalid">
              OTP is required
            </mat-error>
          </mat-form-field>
        </ng-template>

        <!-- Login Button -->
        <button type="submit" class="login-btn btn">
          {{ isOtpLogin ? 'Login with OTP' : 'Login' }}
        </button>

        <!-- OTP Login -->
        <p class="otp-login" (click)="toggleLoginMethod()"> {{ isOtpLogin ? 'Login with Password' : 'Login with OTP' }}
        </p>
      </ng-container>

      <!-- Reset Password Form -->
      <div *ngIf="!isOtpLogin && showResetForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="Your email address" autocomplete="off" />
          <!-- <mat-error *ngIf="loginForm.get('resetEmail')?.touched && loginForm.get('resetEmail')?.invalid">
            Please enter a valid email address
          </mat-error> -->
        </mat-form-field>
        <button class="login-btn btn" type="button">Reset Password</button>
      </div>
    </form>
  </div>
</div>