<div class="login-wrapper">
    <div class="login-container">
        <h2 class="login-title">
            Change Password
        </h2>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Current Password</mat-label>
                <input matInput formControlName="currentPassowrd" placeholder="Enter Current Password" autocomplete="off" />
                <mat-error *ngIf="changePasswordForm.get('currentPassowrd')?.touched && changePasswordForm.get('currentPassowrd')?.invalid">
                    Current Password is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassowrd" placeholder="Enter New Password" autocomplete="off" />
                <mat-error *ngIf="changePasswordForm.get('newPassowrd')?.touched && changePasswordForm.get('newPassowrd')?.invalid">
                    New Password is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Confirm New Password</mat-label>
                <input matInput formControlName="confirmNewPassowrd" placeholder="Confirm New Password" autocomplete="off" />
                <mat-error *ngIf="changePasswordForm.get('confirmNewPassowrd')?.touched && changePasswordForm.get('confirmNewPassowrd')?.invalid">
                    Confirm Password is required
                </mat-error>
            </mat-form-field>
            <button class="login-btn btn" type="button">Change Password</button>
        </form>
    </div>
</div>