<div class="job-list-container">
  <div class="job-list-header">
    <h4>{{ jobs.length }} Jobs Found</h4>
    <div class="custom-dropdown">
      <label for="sortBy">Sort by:</label>
      <select id="sortBy" [(ngModel)]="selectedSort" (change)="sortJobs()">
        <option *ngFor="let option of sortOptions" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>    
  </div>  

  <div class="job-item" *ngFor="let job of jobs">
    <div class="job-logo">
      <img src="/images/logo.jpg" alt="{{ job.company }} Logo" />
    </div>    
    <div class="job-content cursor-pointer" (click)="jobClicked(job)">
      <div class="job-header">
        <h5>{{ job.title }}</h5>
      </div>
      <div class="job-details">
        <p class="company-name">{{ job.company }}</p>
        <div class="job-location">
          <mat-icon>location_on</mat-icon> 
          <span>{{ job.location }}</span>
        </div>
        <p class="job-salary">{{ job.salary }}</p>
      </div>        
    </div>
    <div class="job-meta">
      <button color="primary">{{ job.type }}</button>
      <p>{{ job.postedTime }}</p>
    </div>
  </div>  
</div>
