<h2 class="title mt-0">Schedule Interview</h2>
<div class="schedule-interview-container">
    <form [formGroup]="interviewForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Candidate Name</mat-label>
        <input matInput [value]="'John'" disabled />
      </mat-form-field>
  
      <div class="group-form-field">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Interview Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" [errorStateMatcher]="matcher"/>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="interviewForm.get('date')?.touched && interviewForm.get('date')?.hasError('required')">Date is required</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Interview Time</mat-label>
          <input matInput type="time" formControlName="time" [errorStateMatcher]="matcher"/>
          <mat-error *ngIf="interviewForm.get('time')?.touched && interviewForm.get('time')?.hasError('required')">Time is required</mat-error>
        </mat-form-field>
      </div>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Interview Mode</mat-label>
        <mat-select formControlName="mode" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let mode of interviewModes" [value]="mode">
            {{ mode }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="interviewForm.get('mode')?.touched && interviewForm.get('mode')?.hasError('required')">Mode is required</mat-error>
      </mat-form-field>

            <!-- Conditionally rendered input field for 'Online' mode -->
      <mat-form-field appearance="outline" class="full-width" *ngIf="interviewForm?.get('mode')?.value === 'Online'">
        <mat-label>Meeting Link</mat-label>
        <input matInput formControlName="meetingLink">
        <mat-error *ngIf="interviewForm.get('meetingLink')?.invalid">Link is required</mat-error>
      </mat-form-field>

      <!-- Conditionally rendered text area for 'Offline' mode -->
      <mat-form-field appearance="outline" class="full-width" *ngIf="interviewForm?.get('mode')?.value === 'Offline'">
        <mat-label>Venue Details</mat-label>
        <textarea matInput formControlName="venueDetails"></textarea>
        <mat-error *ngIf="interviewForm.get('venueDetails')?.invalid">Details are required</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width example-chip-list">
        <mat-label>Panel Members</mat-label>
        <mat-chip-grid #chipGrid aria-label="Panel member selection">
          <mat-chip-row *ngFor="let member of selectedPanelMembers" (removed)="removePanelMember(member)">
            {{ member }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          matInput
          id="panelMemberInput"
          placeholder="Add Panel Member"
          [matChipInputFor]="chipGrid"
          [matAutocomplete]="auto"
          (input)="filterPanelMembers($event)"
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectPanelMember($event)">
          <mat-option *ngFor="let member of filteredPanelMembers" [value]="member">{{ member }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <!-- Error message -->
      <small *ngIf="!isMemberSelected" class="panel-member-error">
        At least one panel member must be selected.
      </small>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Notes</mat-label>
        <textarea matInput formControlName="notes" placeholder="Add any additional notes (optional)"></textarea>
      </mat-form-field>
  
      <div class="form-actions">
        <button class="btn" type="submit">Schedule Interview</button>
      </div>
    </form>
</div>
  