/* General Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.brand {
  display: flex;
  flex-direction: column;
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
  color: #003366;
  margin: 0;
}

.tagline {
  font-size: 12px;
  color: #666666;
  margin: 0;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #003366;
  font-size: 16px;
  transition: color 0.3s;
  padding: 5px 10px;
}

.nav-links a:hover,
.nav-links a.active {
  color: #BF322B ;
  cursor: pointer;
}

/* Dropdown Menu */
.dropdown-menu {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 10;
  cursor: pointer;
  width: 200px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  color: #003366;
  text-decoration: none;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
  color: #BF322B;
}

/* Auth Buttons */
.auth-buttons {
  display: flex;
  gap: 10px;
}

.login-btn {
  padding: 8px 15px;
  background-color: transparent;
  color: #bf322b;
  border: 2px solid #bf322b;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover,
.login-btn:hover {
  opacity: 0.8;
}

.logged-in-actions {
  display: flex;
}

.notification-bell {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: #BF322B;
  margin-right: 15px;
  margin-top: -5px;
}

.notification-bell .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background: #BF322B; /* Badge color */
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-drawer {
  position: absolute;
  right: 80px;
  width: 300px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  top: 55px;
  z-index: 1000;
}

.drawer-header {
  background-color: #BF322B;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.notification-list {
  list-style: none;
  padding: 10px;
  margin: 0;
  max-height: 315px;
  overflow-y: auto;
}

.notification-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #333;
}

.notification-list li:last-child {
  border-bottom: none;
}
.notification-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-text {
  word-wrap: break-word;
  flex: 1;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.icon-check-circle {
  font-size: 22px;
  color: #BF322B;
  align-self: center;
  cursor: pointer;
}

/* Scrollbar Styling */
.notification-drawer::-webkit-scrollbar {
  width: 5px;
}

.notification-drawer::-webkit-scrollbar-thumb {
  background: #BF322B;
  border-radius: 5px;
}

/* Profile Icon */
.profile-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 35px;
  mat-icon {
    font-size: 35px;
    height: 35px;
    width: 35px;
  }
}

.drawer {
  right: 15px !important;
  width: 220px !important;
}

.drawer .dropdown-header {
  padding: 15px;
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info i {
  font-size: 30px;
  margin-right: 10px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: none;
  width: 100%;
  font-size: 15px;
  text-align: left;
  background: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

hr {
  margin: 0;
  border: 0.5px solid #ddd;
}
