<div class="navbar">
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo" class="logo" />
      <div class="brand">
        <h1 class="brand-name">Job Finder</h1>
        <p class="tagline">Get your dream job</p>
      </div>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/job-dashboard" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/jobs" routerLinkActive="active">Find a Jobs</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/page" routerLinkActive="active">Page</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
    <div class="auth-buttons">
      <button class="btn" routerLink="/auth/register">Register</button>
      <button class="login-btn" routerLink="/auth/login">Login</button>
    </div>
  </div>
  