<div class="confirmation-overlay">
    <div class="confirmation-box" [style.width]="data.width || '400px'">
      <!-- confirmation Header -->
      <div class="confirmation-header">
        <i class="material-icons confirmation-icon" [ngClass]="{
                  'success-icon': data.iconType === 'success',
                  'error-icon': data.iconType === 'error',
                  'warning-icon': data.iconType === 'warning'
               }">
          {{ getIconType(data.iconType) }}
        </i>
        <h2 class="confirmation-title">{{ data.title }}</h2>
      </div>
  
      <!-- confirmation Body -->
      <div class="confirmation-body">
        <p class="confirmation-message" [innerHtml]="data.message"></p>
      </div>
  
      <!-- confirmation Footer (Dynamic Buttons) -->
      <div class="confirmation-footer">
        <div class="confirmation-footer">
            <button 
              *ngFor="let button of data.buttons" 
              class="btn confirmation-btn" 
              [ngClass]="button.style" 
              (click)="closeModal(button.text)">
              {{ button.text }}
            </button>
          </div>          
    </div>
  </div>
  