<h2 class="title mt-0">My Application</h2>
<div class="filter-container">
    <button *ngFor="let filter of filters" class="filter-btn" [class.active]="filter.active"
        (click)="onFilterChange(filter)" [style.marginRight]="filter.value === 'upcoming' ? '6px' : ''">
        {{ filter.label }}
    </button>
</div>
<div>
    <app-table [columns]="tableColumns" [data]="tableData" [paginationConfig]="paginationConfig"
        (onPageChange)="updatePage($event)" (onSortChange)="handleSortChange($event)"
        (onItemsPerPageChange)="updateItemsPerPage($event)" (viewOfferAction)="viewOffer($event)"
        (viewDetails)="viewDetails($event)">
    </app-table>
</div>