<div class="page-container">
  
        <div class="scheme-configuration-card registration-card">
          <div class="scheme-configuration-title registration-title">
              Role Management
            </div>
           
                <div class="Udyam-check">
                    <form [formGroup]="userForm">
                        <mat-accordion multi style="text-align: left;">
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header class="header">
                                    <mat-panel-title>Role Details</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="group-form-field" style="margin-top: 10px;">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Role Name</mat-label>
                                        <input matInput formControlName="fullName" [errorStateMatcher]="matcher"/>
                                        <mat-error *ngIf="userForm.get('fullName')?.touched && userForm.get('fullName')?.invalid">
                                            Role Name is required.
                                        </mat-error>
                                      </mat-form-field>

                                      <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Role Description</mat-label>
                                        <input matInput formControlName="roleName" [errorStateMatcher]="matcher"/>
                                        <mat-error *ngIf="userForm.get('roleName')?.touched && userForm.get('roleName')?.invalid">
                                            Role Description is required.
                                        </mat-error>
                                      </mat-form-field>
                                </div>
                                <div style="float: right; margin-top: 10px; display: flex; gap: 15px;">
                                    <button class="btn" type="submit">Save</button>
                                    <button class="btn" type="button" (click)="userForm.reset()">Reset</button>
                                </div>
                     
                            </mat-expansion-panel>
                        </mat-accordion>

                        <div >
                            <app-table [columns]="tableColumns" [data]="tableData" [paginationConfig]="paginationConfig"
                                (onPageChange)="updatePage($event)" (onSortChange)="handleSortChange($event)"
                                (onItemsPerPageChange)="updateItemsPerPage($event)">
                            </app-table>
                        </div>
                    </form>
                </div>
            
        </div>

</div>

  

