<span class="title">Update Profile</span>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <mat-accordion multi>

    <!-- Personal Information -->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header class="header">
        <mat-panel-title> Personal Information </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex;">
        <div style="width: 85%;">
          <div class="group-form-field">
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Full Name</mat-label>
              <input matInput formControlName="fullName" />
              <mat-error *ngIf="profileForm.get('fullName')?.invalid && profileForm.get('fullName')?.touched">
                Name is required
              </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email"/>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phone" />
              <mat-error *ngIf="profileForm.get('phone')?.invalid && profileForm.get('phone')?.touched">
                Phone No is required
              </mat-error>
            </mat-form-field>
          </div>
    
          <div class="group-form-field">
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Father's Name</mat-label>
              <input matInput formControlName="fatherName" />
              <mat-error *ngIf="profileForm.get('fatherName')?.invalid && profileForm.get('fatherName')?.touched">
                Father's Name is required
              </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Mother's Name</mat-label>
              <input matInput formControlName="motherName" />
              <mat-error *ngIf="profileForm.get('motherName')?.invalid && profileForm.get('motherName')?.touched">
                Mother's Name is required
              </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Highest Qualification</mat-label>
              <mat-select formControlName="highestQualification">
                <mat-option value="high_school">High School Diploma</mat-option>
                <mat-option value="associate_business_finance">Associate's Degree in Business or Finance</mat-option>
                <mat-option value="bachelor_business_admin">Bachelor's Degree in Business Administration</mat-option>
                <mat-option value="bachelor_finance">Bachelor's Degree in Finance</mat-option>
                <mat-option value="bachelor_economics">Bachelor's Degree in Economics</mat-option>
                <mat-option value="mba">Master's Degree in Business Administration (MBA)</mat-option>
                <mat-option value="master_finance">Master's Degree in Finance</mat-option>
                <mat-option value="cfa">Chartered Financial Analyst (CFA) Certification</mat-option>
                <mat-option value="cpa">Certified Public Accountant (CPA)</mat-option>
              </mat-select>
              <mat-error *ngIf="profileForm.get('highestQualification')?.invalid && profileForm.get('highestQualification')?.touched">
                Highest Qualification is required
              </mat-error>
            </mat-form-field>
          </div>
    
          <div class="group-form-field">
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Work Status</mat-label>
              <mat-select formControlName="workStatus">
                <mat-option value="experienced">Experienced Professional</mat-option>
                <mat-option value="fresher">Fresher</mat-option>
              </mat-select>
              <mat-error *ngIf="profileForm.get('workStatus')?.invalid && profileForm.get('workStatus')?.touched">
                Work Status is required
              </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Passport Number</mat-label>
              <input matInput formControlName="passportNumber" />
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Driving License Number</mat-label>
              <input matInput formControlName="drivingLicenseNumber" />
            </mat-form-field>
          </div>
    
          <div class="group-form-field">
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Country</mat-label>
              <mat-select formControlName="country" (selectionChange)="onCountryChange($event.value)">
                <mat-option *ngFor="let country of countries" [value]="country">
                  {{ country }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="profileForm.get('country')?.invalid && profileForm.get('country')?.touched">
                Country is required
              </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>State</mat-label>
              <mat-select formControlName="state">
                <mat-option *ngFor="let state of statesForSelectedCountry" [value]="state">
                  {{ state }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="profileForm.get('state')?.invalid && profileForm.get('state')?.touched">
                State is required
              </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="half-width">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" />
              <mat-error *ngIf="profileForm.get('address')?.invalid && profileForm.get('address')?.touched">
                Address is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div style="width: 13%;">
          <div class="photo-upload-row" style="width: 100%;">
            <div class="photo-upload-section" style="width: 100%;">
              <div class="photo-preview" style="width: 100%;">
                <img [src]="profilePhoto" alt="Profile Photo" />
              </div>
              <input type="file" id="profilePhotoInput" (change)="onProfilePhotoUpload($event)" accept="image/*" hidden>
              <button type="button" class="btn" (click)="triggerProfilePhotoUpload()">
                {{ profilePhoto ? 'Change' : 'Upload' }} Photo
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <!-- Dynamic Education Section -->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header class="header">
        <mat-panel-title> Education Details </mat-panel-title>
      </mat-expansion-panel-header>
      <div formArrayName="education">
        <div *ngFor="let edu of educationControls.controls; let i = index" [formGroupName]="i" class="group-form-field">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Degree</mat-label>
            <input matInput formControlName="degree" />
            <mat-error *ngIf="edu.get('degree')?.invalid && edu.get('degree')?.touched">
              Degree is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Institute</mat-label>
            <input matInput formControlName="institute" />
            <mat-error *ngIf="edu.get('institute')?.invalid && edu.get('institute')?.touched">
              Institute is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Year of Completion</mat-label>
            <input matInput type="number" formControlName="yearOfCompletion" />
            <mat-error *ngIf="edu.get('yearOfCompletion')?.invalid && edu.get('yearOfCompletion')?.touched">
              Year of Completion is required
            </mat-error>
          </mat-form-field>

          <!-- Upload Educational Documents -->
          <div class="upload-section">
            <input class="upload-input" type="file" (change)="onFileUpload($event, 'education', i)" />
          </div>

          <button mat-icon-button color="warn" type="button" (click)="removeEducation(i)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <button mat-flat-button class="btn" type="button" (click)="addEducation()">+ Add Education</button>
    </mat-expansion-panel>

    <!-- Dynamic Experience Section -->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header class="header">
        <mat-panel-title> Previous Employment </mat-panel-title>
      </mat-expansion-panel-header>
      <div formArrayName="experience">
        <div *ngFor="let exp of experienceControls.controls; let i = index" [formGroupName]="i" class="group-form-field">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Company Name</mat-label>
            <input matInput formControlName="company" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Designation</mat-label>
            <input matInput formControlName="designation" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Joining Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="years"/>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Leaving Date (Optional)</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="leavingYear"/>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <!-- Upload Experience Documents -->
          <div class="upload-section">
            <input class="upload-input" type="file" (change)="onFileUpload($event, 'experience', i)" />
          </div>

          <button mat-icon-button color="warn" type="button" (click)="removeExperience(i)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <button mat-flat-button class="btn" type="button" (click)="addExperience()">+ Add Experience</button>
    </mat-expansion-panel>

    <!-- Skills Section -->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header class="header">
        <mat-panel-title> Skills </mat-panel-title>
      </mat-expansion-panel-header>
      <div formArrayName="skills">
        <div *ngFor="let skill of skillsControls.controls; let i = index" [formGroupName]="i" class="group-form-field">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Skill Name</mat-label>
            <input matInput formControlName="skillName" />
            <mat-error *ngIf="skill.get('skillName')?.invalid && skill.get('skillName')?.touched">
              Skills is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Experience (Years)</mat-label>
            <input matInput type="number" formControlName="experienceYears" />
            <mat-error *ngIf="skill.get('experienceYears')?.invalid && skill.get('experienceYears')?.touched">
              Experience is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Last Used Year</mat-label>
            <input matInput type="number" formControlName="lastUsedYear" />
            <mat-error *ngIf="skill.get('lastUsedYear')?.invalid && skill.get('lastUsedYear')?.touched">
              Last Used Year is required
            </mat-error>
          </mat-form-field>

          <!-- Upload Skill Certification -->
          <div class="upload-section">
            <input class="upload-input" type="file" (change)="onFileUpload($event, 'skills', i)" />
          </div>

          <button mat-icon-button type="button" (click)="removeSkill(i)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <button mat-flat-button class="btn" type="button" (click)="addSkill()">+ Add Skill</button>
    </mat-expansion-panel>

    <!-- Dynamic Experience Section -->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header class="header">
        <mat-panel-title>Certification</mat-panel-title>
      </mat-expansion-panel-header>
      <div formArrayName="certification">
        <div *ngFor="let exp of certificationControls.controls; let i = index" [formGroupName]="i" class="group-form-field">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Certification Name</mat-label>
            <input matInput formControlName="certificationName" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Certification Year</mat-label>
            <input matInput type="number" formControlName="certificationYear" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Valid Upto Year</mat-label>
            <input matInput type="number" formControlName="certificationValidUpto" />
          </mat-form-field>

          <!-- Upload Experience Documents -->
          <div class="upload-section">
            <input class="upload-input" type="file" (change)="onFileUpload($event, 'certification', i)" />
          </div>

          <button mat-icon-button color="warn" type="button" (click)="removeCertification(i)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <button mat-flat-button class="btn" type="button" (click)="addCertification()">+ Add Certification</button>
    </mat-expansion-panel>

    <!-- Upload CV -->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header class="header">
        <mat-panel-title> Upload CV </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="upload-section">
        <input class="upload-input" type="file" (change)="onFileUpload($event, 'cv')" />
      </div>
    </mat-expansion-panel>

    <!-- Upload ID -->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header class="header">
        <mat-panel-title> Upload ID </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="upload-section">
        <input class="upload-input" type="file" id="idInput" (change)="onIdUpload($event)" accept=".pdf,.doc,.docx"/>
      </div>

      <div class="form-actions">
        <button class="btn" type="submit">Update Profile</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>
