.profile-management {
    max-width: 95%;
    margin: 20px auto;
  
    .full-width {
      width: 100%;
      margin-bottom: 16px;
    }
  
    .form-actions {
      display: flex;
      justify-content: flex-end;
    }
  
    .profile-summary {
      margin-top: 32px;
      padding: 16px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #f9f9f9;
    }
  }
  
  .document-upload {
    margin: 16px 0;
  
    label {
      display: block;
      font-size: 16px;
      font-weight: bold;
      color: #333;
      margin-bottom: 8px;
    }
  
    #fileUpload {
      display: inline-block;
      padding: 8px 16px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 16px;
  
      &:hover {
        border-color: #007bff;
      }
    }
  
    ul {
      display: flex;
      flex-wrap: wrap; /* Allows wrapping to the next row */
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(50%); /* Two items per row with spacing */
        margin: 8px;
        padding: 8px 12px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        background-color: #f9f9f9;
  
        &:hover {
          background-color: #f1f1f1;
        }
  
        button {
          font-size: 14px;
          color: #d32f2f;
          background-color: transparent;
          border: none;
          cursor: pointer;
  
          &:hover {
            color: #b71c1c;
          }
        }
      }
    }
  }  
  
  .header {
    background: #bf322b1a !important;
    height: 40px !important;
    font-size: 17px;
    font-weight: 600;
  }
