
/* Expansion Panels */
mat-expansion-panel {
  margin-bottom: 5px;
  // background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.mat-expansion-panel-spacing {
  margin: 7px 0;
}

/* Form Fields */
mat-form-field {
  width: 100%;
}

/* File Upload Section */
.upload-section {
  display: flex;
  gap: 12px;
  margin-top: 5px;
  font-size: 14px;

  input {
    padding: 8px;
    // border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }

  .uploaded-file {
    font-weight: bold;
    color: #2e7d32;
  }
}

/* Delete Icon */
mat-icon {
  cursor: pointer;
  color: #d32f2f;
}

.form-actions {
  display: flex;
  justify-content: end;
  padding: 25px;
}
.header {
  background: #bf322b1a !important;
  height: 40px !important;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-photo-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.profile-photo-preview img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.upload-btn {
  font-size: 14px;
  font-weight: bold;
  background: #1976d2;
  color: white;
}

.upload-btn:hover {
  background: #1565c0;
}
