.filter-container-new {
    padding: 0 15px;
    background: #fffdfa;
  }
  
  .search-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }
  
  .button-group {
    margin-top: 15px;
    display: flex;
    justify-content: end;
    gap: 10px;
  }
  