.filter-container {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    margin-right: 20px;
    width: 80%;
  }
  
  .filter-section h5 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
  }
  