<div class="search-bar">
  <div class="input-wrapper">
    <input type="text" id="job-input" placeholder="Job title, keywords, or company" aria-label="Job title, keywords, or company">
    <i class="fa-solid fa-magnifying-glass icon"></i>
  </div> 
  <div class="input-wrapper">
  <input type="text" id="location-input" placeholder="Location (City, State, or Remote)" aria-label="Location">
  <!-- <i class="fa-solid fa-location-dot"></i> -->
  </div>
  <button type="button" id="search-btn" class="btn">Search</button>
</div>
