<footer class="footer bg-red">
    <div class="container-fluid center">
      <div class="row">
          <div class="col-md-12 small text-center" style="font-weight: bold;">© {{this.footerDate}} Government of Meghalaya. All rights reserved.</div>
      </div>
  </div>
    <div class="top-navbar-right">
      <p class="followus">Follow Us On</p>
      <div class="footer-icons" style="margin: -27px;">
        <a href="#"><i class="fab fa-facebook" style="color: #EFA601;"></i></a>
        <a href="#"><i class="fab fa-twitter" style="color: #EFA601;"></i></a>
        <a href="#"><i class="fab fa-youtube" style="color: #EFA601;"></i></a>          
        </div>
  </div>
  </footer>