<div class="calendar-container">
    <!-- <full-calendar
      #calendar
      [plugins]="calendarPlugins"
      [options]="calendarOptions"
      [headerToolbar]="headerToolbar"
      [initialView]="'dayGridMonth'"
      [editable]="true"
      [droppable]="true"
      [selectable]="true"
      [eventContent]="renderEventContent"
      [eventClick]="handleEventClick.bind(this)"
      (eventDrop)="handleEventDrop($event)"
      (eventResize)="handleEventResize($event)"
    ></full-calendar> -->

    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

<!-- Popup Modal -->
<div class="popup-modal" *ngIf="showPopup">
  <div class="popup-modal-content">
    <!-- Header -->
    <div class="modal-header" style="margin: -20px -20px 0 -20px;">
      <h2 class="modal-title mt-0">{{ popupTitle }}</h2>
      <button mat-icon-button class="icon-red" (click)="closePopup()">
          <mat-icon>cancel</mat-icon>
      </button>
    </div>

    <!-- Body -->
    <div class="popup-body">
      <div class="popup-row">
        <span class="popup-label">Date:</span>
        <span>{{ popupDate }}</span>
      </div>
      <div class="popup-row">
        <span class="popup-label">Time:</span>
        <span>{{ popupTime }} - {{ popupEndTime }}</span>
      </div>
      <div *ngIf="popupDuration" class="popup-row">
        <span class="popup-label">Duration:</span>
        <span>{{ popupDuration }}</span>
      </div>
      <div *ngIf="popupLocation" class="popup-row">
        <span class="popup-label">Location:</span>
        <span>{{ popupLocation }}</span>
      </div>
      <div *ngIf="popupOrganizer" class="popup-row">
        <span class="popup-label">Organizer:</span>
        <span>{{ popupOrganizer }}</span>
      </div>
      <div *ngIf="popupCategory" class="popup-row">
        <span class="popup-label">Category:</span>
        <span>{{ popupCategory }}</span>
      </div>
      <div *ngIf="popupDescription" class="popup-row">
        <span class="popup-label">Description:</span>
        <span>{{ popupDescription }}</span>
      </div>
      <div *ngIf="popupAttendees?.length" class="popup-row">
        <span class="popup-label">Attendees:</span>
        <div class="attendees-list">
          <span *ngFor="let attendee of popupAttendees" class="attendee">
            {{ attendee }}
          </span>
        </div>
      </div>

      <!-- Show feedback button if it's a past event -->
      <!-- <button *ngIf="isPrevious" class="btn">
        Provide Feedback
      </button> -->
    </div>
  </div>
</div>
