<div class="job-details-container">
  <!-- Job Header -->
  <div class="job-header">
    <div class="job-info">
      <img src="/images/logo.jpg" alt="Company Logo" class="company-logo" />
      <div>
        <h1>{{ jobDetails.title }}</h1>
        <p class="company-name">{{ jobDetails.company }}</p>
        <p class="job-location">
          <mat-icon>location_on</mat-icon> {{ jobDetails.location }}
          <span class="salary">{{ jobDetails.salary }}</span>
        </p>
      </div>
    </div>
  </div>

  <!-- Job Content Section -->
  <div class="job-content">
    <!-- Left Column: Job Details -->
    <div class="job-description">
      <h2>Job Description</h2>
      <p>{{ jobDetails.description }}</p>

      <h2>Required Knowledge, Skills, and Abilities</h2>
      <ul>
        <li *ngFor="let requirement of jobDetails.requirements">
          <mat-icon class="check-icon">check_circle</mat-icon> {{ requirement }}
        </li>
      </ul>

      <h2>Education + Experience</h2>
      <ul>
        <li *ngFor="let education of jobDetails.education">
          <mat-icon class="check-icon">check_circle</mat-icon> {{ education }}
        </li>
      </ul>
    </div>

    <!-- Right Column: Job Overview -->
    <div class="job-overview">
      <h2>Job Overview</h2>
      <p><strong>Posted Date:</strong> {{ jobDetails.overview.postedDate }}</p>
      <p><strong>Location:</strong> {{ jobDetails.overview.location }}</p>
      <p><strong>Vacancy:</strong> {{ jobDetails.overview.vacancy }}</p>
      <p><strong>Job Nature:</strong> {{ jobDetails.overview.jobNature }}</p>
      <p><strong>Job Ref No:</strong> {{ jobDetails.overview.jobRefNo }}</p>
      <p><strong>Salary:</strong> {{ jobDetails.overview.salary }}</p>
      <p><strong>Application Deadline:</strong> {{ jobDetails.overview.applicationDeadline }}</p>
      <button *ngIf="from != 'hr'" [disabled]="jobApplied" (click)="applyNow()" class="apply-btn btn">
        {{ jobApplied ? 'Applied' : 'Apply Now'}}
      </button>
    </div>
  </div>

  <!-- Company Information -->
  <div class="company-info">
    <h2>Company Information</h2>
    <p>{{ jobDetails.companyInfo.description }}</p>
    <p><strong>Name:</strong> {{ jobDetails.companyInfo.name }}</p>
    <p><strong>Website:</strong> <a class="link" (click)="goToWebsite(jobDetails.companyInfo.website)">{{ jobDetails.companyInfo.website }}</a></p>
    <p><strong>Email:</strong> <a class="link">{{ jobDetails.companyInfo.email }}</a></p>
    <!-- href="mailto:{{ jobDetails.companyInfo.email }}" -->
  </div>
</div>
