/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #ededed;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Custom Button Style */
.btn {
    width: auto;
    background: #BF322B !important;
    border-radius: 5px !important;
    padding: 8px 15px !important;
    color: #ffffff !important;
    border: none !important;
    cursor: pointer !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out !important;
    outline: none !important;
    font-size: 16px;
    height: 40px;
}

.btn:hover {
    // transform: rotateY(5deg) translateY(-1px) !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4) !important;
    background-color: #aa2417 !important;
    color: #ffffff !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: #BF322B; /* Text color inside the field */
    border-color: #BF322B; /* Main border color */
    stroke: #BF322B; /* Outline stroke color for the border */
  }
  
.cursor-pointer {
    cursor: pointer;
}

.group-form-field {
    display: flex;
    margin-bottom: 10px;
    gap: 20px;
  }
  
  .half-width {
    flex: 1;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  .title {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0;
    border: none !important;
    border-radius: 4px !important;
    background: #ffd26c !important;
    color: #000 !important;
    display: block;
  }