/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #ededed;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
  --mat-form-field-container-height: 45px;
  --mat-form-field-container-vertical-padding: 8px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-2{
  margin-bottom: 10px;
}
/* Custom Button Style */
.btn {
    width: auto;
    background: #BF322B !important;
    border-radius: 5px !important;
    padding: 8px 15px !important;
    color: #ffffff !important;
    border: none !important;
    cursor: pointer !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out !important;
    outline: none !important;
    font-size: 16px;
    height: 40px;
}

.btn:hover {
    // transform: rotateY(5deg) translateY(-1px) !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4) !important;
    background-color: #aa2417 !important;
    color: #ffffff !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: #BF322B; /* Text color inside the field */
    border-color: #BF322B; /* Main border color */
    stroke: #BF322B; /* Outline stroke color for the border */
  }
  
.cursor-pointer {
    cursor: pointer;
}

.group-form-field {
    display: flex;
    margin-bottom: 10px;
    gap: 20px;
  }
  
  .half-width {
    flex: 1;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  .title {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0;
    border: none !important;
    border-radius: 4px !important;
    background: #ffd26c !important;
    color: #000 !important;
    display: block;
  }

  .modal-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    padding: 12px 10px;
    border: none !important;
    border-radius: 4px !important;
    background: #BF322B !important;
    color: white !important;
    display: block;
  }

 .mat-mdc-dialog-surface {
    border-radius: 0 !important;
  }

  .link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    background: #BF322B !important;
    overflow-x: hidden;
  }

  .icon-red {
    color: white !important;
    top: 3px;
  }

  .filter-toggle {
    display: flex;
    border: 1px solid #BF322B !important;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 20px;
    width: 35%;
  }
  
  .toggle-btn {
    flex: 1;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
    border: 1px solid #BF322B;
  }
  
  .toggle-btn:last-child {
    border-radius: 0 8px 8px 0;
  }

  .toggle-btn:first-child {
    border-radius: 8px 0 0 8px;
  }
  
  .toggle-btn.active {
    background-color: #BF322B; /* Red background for active button */
    color: #fff; /* White text for active button */
  }
  
  .toggle-btn:hover:not(.toggle-btn.active) {
    background-color: #FFE8E8;
  }