.generate-offer-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.upload-section {
    margin: 15px 0;
}

.upload-section input {
    display: block;
    margin-top: 8px;
}

.action-buttons {
    text-align: right;
}
.header {
    background: #bf322b1a !important;
    height: 40px !important;
    font-size: 17px;
    font-weight: 600;
  }