<div class="hero-section">
    <div class="hero-content">
      <h1>Find the most exciting startup jobs</h1>
      <div class="search-bar">
        <input type="text" placeholder="Job Title or keyword" class="search-input" />
        <mat-form-field class="location-select" appearance="outline">
            <mat-label>Location</mat-label>
            <mat-select>
              <mat-option value="bd">Location BD</mat-option>
              <mat-option value="us">Location US</mat-option>
              <mat-option value="uk">Location UK</mat-option>
            </mat-select>
          </mat-form-field>
          
        <button class="find-job-btn">Find Job</button>
      </div>
    </div>
    <div class="hero-image">
      <img src="/images/h1_hero.jpg" alt="Professional" />
    </div>
  </div>
  