<div class="job-form-container">
    <h2>Post a Job</h2>
    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Job Title</mat-label>
        <input matInput formControlName="jobTitle" placeholder="Enter job title" />
        <mat-error *ngIf="jobForm.get('jobTitle')?.hasError('required')">
          Job Title is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Job Description</mat-label>
        <textarea
          matInput
          formControlName="jobDescription"
          placeholder="Enter job description"
          rows="4"
        ></textarea>
        <mat-error *ngIf="jobForm.get('jobDescription')?.hasError('required')">
          Job Description is required
        </mat-error>
        <mat-error *ngIf="jobForm.get('jobDescription')?.hasError('minlength')">
          Description must be at least 10 characters
        </mat-error>
      </mat-form-field>
  
      <div class="group-form-field">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="jobForm.get('category')?.hasError('required')">
              Please select a category
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Job Type</mat-label>
            <mat-select formControlName="jobType">
              <mat-option *ngFor="let jobType of jobTypes" [value]="jobType">
                {{ jobType }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="jobForm.get('jobType')?.hasError('required')">
              Please select a job type
            </mat-error>
          </mat-form-field>
      </div>

      <div class="group-form-field">
        <mat-form-field appearance="outline" class="half-width">
            <mat-label>Industry</mat-label>
            <mat-select formControlName="industry">
              <mat-option *ngFor="let industry of industries" [value]="industry">
                {{ industry }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="jobForm.get('industry')?.hasError('required')">
              Please select an industry
            </mat-error>
          </mat-form-field>
        <mat-form-field appearance="outline" class="half-width">
            <mat-label>Experience</mat-label>
            <input
              matInput
              formControlName="experience"
              placeholder="Enter required experience"
            />
            <mat-error *ngIf="jobForm.get('experience')?.hasError('required')">
              Experience is required
            </mat-error>
          </mat-form-field>
      </div>

      <div class="group-form-field">
        <mat-form-field appearance="outline" class="half-width">
            <mat-label>Skills</mat-label>
            <input matInput formControlName="skills" placeholder="Enter required skills" />
            <mat-error *ngIf="jobForm.get('skills')?.hasError('required')">
              Skills are required
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Qualifications</mat-label>
            <input
              matInput
              formControlName="qualifications"
              placeholder="Enter required qualifications"
            />
            <mat-error *ngIf="jobForm.get('qualifications')?.hasError('required')">
              Qualifications are required
            </mat-error>
          </mat-form-field>
      </div>
  
      <div class="group-form-field">
        <mat-form-field appearance="outline" class="half-width">
            <mat-label>Salary Type</mat-label>
            <mat-select formControlName="salaryType">
              <mat-option value="Hourly">Hourly</mat-option>
              <mat-option value="Monthly">Monthly</mat-option>
              <mat-option value="Yearly">Yearly</mat-option>
            </mat-select>
            <mat-error *ngIf="jobForm.get('salaryType')?.hasError('required')">
              Please select a salary type
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Minimum Salary</mat-label>
          <input matInput formControlName="salaryMin" placeholder="Enter min salary" />
          <mat-error *ngIf="jobForm.get('salaryMin')?.hasError('required')">
            Minimum salary is required
          </mat-error>
          <mat-error *ngIf="jobForm.get('salaryMin')?.hasError('pattern')">
            Please enter a valid number
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Maximum Salary</mat-label>
          <input matInput formControlName="salaryMax" placeholder="Enter max salary" />
          <mat-error *ngIf="jobForm.get('salaryMax')?.hasError('required')">
            Maximum salary is required
          </mat-error>
          <mat-error *ngIf="jobForm.get('salaryMax')?.hasError('pattern')">
            Please enter a valid number
          </mat-error>
        </mat-form-field>
      </div>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" placeholder="Enter job location" />
        <mat-error *ngIf="jobForm.get('address')?.hasError('required')">
          Address is required
        </mat-error>
      </mat-form-field>

      <div class="group-form-field">
        <mat-form-field appearance="outline" class="half-width">
            <mat-label>Country</mat-label>
            <mat-select
              formControlName="country"
              (selectionChange)="onCountryChange($event.value)"
            >
              <mat-option *ngFor="let country of countries" [value]="country">
                {{ country }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="jobForm.get('country')?.hasError('required')">
              Please select a country
            </mat-error>
          </mat-form-field>
      
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
              <mat-option *ngFor="let state of statesForSelectedCountry" [value]="state">
                {{ state }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="jobForm.get('state')?.hasError('required')">
              Please select a state
            </mat-error>
          </mat-form-field>
      </div>
  
      <div style="display: flex;justify-content: end;">
        <button class="btn" type="submit">
            Post Job
          </button>
      </div>
    </form>
  </div>
  