.job-post-form {
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-section {
    margin-bottom: 20px;
}

/* Flexbox for fields in rows */
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between fields */
}

.form-row .form-section {
    flex: 1 1 calc(33.333% - 20px); /* 3 columns in a row */
    box-sizing: border-box;
}

.form-row .form-section.full-width {
    flex: 1 1 100%; /* Full width field */
}

/* Ensure the styled input takes full width of its parent */
.styled-input {
    padding: 10px;
    font-size: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-weight: 300;
    width: 97%;
    transition: border 0.3s ease-in-out;
}

.styled-input:focus {
    border-color: #bf322b;
    box-shadow: 0 0 5px rgba(191, 50, 43, 0.5);
}

/* Error Message */
.error-message {
    color: red;
    font-size: 12px;
}

.form-buttons {
    text-align: right;
}

