.job-form-container {
    max-width: 95%;
    padding: 10px 20px;
    // background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.8rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .group-form-field {
    display: flex;
    margin-bottom: 10px;
    gap: 20px;
  }
  
  .half-width {
    flex: 1;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  .header {
    background: #bf322b1a !important;
    height: 40px !important;
    font-size: 17px;
    font-weight: 600;
  }